@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.services-cover {
  background-image: url(../assets/coverLogo/img1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.textarea:focus,
select:focus,
.input:focus {
  outline: none;
}
.buttonCart {
  height: 40px;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s;
}
.bCart {
  background: -webkit-linear-gradient(0deg, transparent 50%, #c2a74e 50%);
  background-size: 400px 80px;
  border: 1px solid #c2a74e;
}
.bCart:hover {
  background-position: 200px 0;
  color: black;
}
